<ion-header>
  <ion-toolbar>
    <ion-title>Order Confirmation</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button expand="block" (click)="setOpen(true)">Make Payment</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Payment Successful</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Your payment was successful and your order has been placed.
          Thank you and come again.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>